{#
/**
 * @file
 * Default theme implementation to display a 'Person' node.
 * ----
 * @author - chad.thoreson@bia.gov
 * ----
#}

{% extends '/themes/custom/ia_uswds_subtheme/templates/includes/node_layout.html.twig' %}

{% block body %}
    {% set contact = {
        'address' : node.field_contact_us.entity.field_contactus_address.value,
        'city' : node.field_contact_us.entity.field_contactus_city.value,
        'email' : node.field_contact_us.entity.field_contactus_email.value,
        'fax' : node.field_contact_us.entity.field_contactus_fax.value,
        'officename' : node.field_contact_us.entity.field_contactus_officename.value,
        'phone' : node.field_contact_us.entity.field_contactus_phone.value,
        'phonecallhours' : node.field_contact_us.entity.field_contactus_phonecallhours.value,
        'state' : node.field_contact_us.entity.field_tld_state.value,
        'zip' : node.field_contact_us.entity.field_contactus_zip.value
    } %}
    <!-- TITLE BIO LEFT COLUMN -->
    {% if node.field_person_biopicture %}
    <section id="person-bio" class="ia-uswds-person-bio">
        <div class="grid-row grid-gap margin-top-4 padding-top-205">
            <div class="tablet:grid-col-8">
                <div class="body-with-info">
                    {% if content.field_person_jobtitle.0 %}
                        <div class="font-sans-md text-bold">{{ content.field_person_jobtitle }}</div>
                    {% endif %}
    
                    {% if content.field_person_organization.0 %}
                    <div class="font-sans-md text-bold margin-top-1 border-bottom padding-bottom-2">
                        <div class="display-inline-flex">Organization: </div>
                        <div class="display-inline-flex">{{ content.field_person_organization }}</div>
                    </div>
                    {% endif %}
    
                    {{ content.body }}
                </div> <!-- /body-with-info -->
            </div> <!-- /tablet:grid-col-8 -->
    
            <div class="tablet:grid-col-4">
                {% if content.field_person_biopicture.0 %}
                    <div class="bio-image">
                        {{ content.field_person_biopicture }}
                    </div> <!-- /bio-image -->
                {% endif %}
    
                {% include '/themes/custom/ia_uswds_subtheme/templates/includes/contact-us-card.html.twig' with {'contact': contact, 'layout': 'full'} %}
    
                {% if contact_us_component_full_width %}
                <!-- CONTACT US Card comes in from template.php by calling the variable $contact_us_component.
                     The component needs to be wrapped in a structural element such as 'grid-col' -->
                <div class="tablet:grid-col-12 margin-top-205">
                    {{ contact_us_component_full_width }}
                </div> <!-- /tablet:grid-col-12 margin-top-205 -->
                {% endif %}
            </div><!-- /tablet:grid-col-4-->
        </div> <!-- /grid-row grid-gap margin-top-4 padding-top-205 -->
    </section>
    {% endif %}
{% endblock body %}

{% block schema %}
    <script type='application/ld+json'>
        {
        "@context": "http://schema.org",
        "@type": "Person",
        "email": "{{ content.field_contact_us.entity.email.value }}",
        "image": "{{ file_url(node.field_person_biopicture.entity.fileuri) }}",
        "jobTitle": "{{ content.field_person_jobtitle.0 }}",
        "name": "{{ label }}",
        "telephone": "{{ content.field_contact_us.entity.phone.value }}",
        "url": "{{ url('<current>') }}"
        }
    </script>
{% endblock schema %}




