<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>

{%
    set classes = [
    'bg-base-lightest padding-2'
]
%}

<div {{ attributes.addClass(classes)}}>
    <div class="padding-top-2 padding-bottom-1">
        {% if(person_picture) %}
            <img src="" />
        {% endif %}

        {% if(person_title) %}
            <h3 class="font-serif-xs margin-bottom-1">
                {{ person_title }}
            </h3>
        {% endif %}

        {% if(person_name) %}
            <h4>{{ title_attributes.addClass(title_classes) }}{{ person_name }}</h4>
        {% endif %}
    </div>

    {% if(person_bio) %}
        <div>
            {{ person_bio|render|striptags|trim }}
        </div>
    {% endif %}
    <br>
    <a href="{{ person_url }}">Continue Reading about the {{ person_title }}</a>
</div>