{#
/**
 * @file
 * Theme override for the Organization Related Orgs field.
 * @see template_preprocess_field()
 */
#}
{%
    set title_classes = [
    label_display == 'visually_hidden' ? 'usa-sr-only'
]
%}

{%
    set item_classes = [
    'mini-related-org-chart'
]
%}
<!-- <div class="grid-col-12 desktop:grid-col-5 margin-bottom-4"> -->
    <div id="mini-related-org-chart" class="radius-lg padding-2 bg-base-lighter height-full">
        <div{{ attributes }}>
            {% if label_hidden==false %}
                <h3{{ title_attributes.addClass(title_classes) }}>
                    <i class="fas fa-sitemap padding-right-1"></i>
                    <span>{{ label }}</span>
                </h3>
            {% endif %}

            {# Parent Organization(s) #}
            {% if parent_orgs %}
                {% set porg_classes = [
                    'org-related-list-item',
                    'org-report-to-list-item'
                ]
                %}

                <ul id="org-report-to-list">
                    {% for porg in parent_orgs %}
                        <li{{ porg.attributes.addClass(porg_classes) }}>{{ porg.content }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# The Current Organization #}
            <ul id="org-peer-list">
                <li class="org-related-list-item org-peer-list-item org-related-list-item-current">
                    <span>{{ curr_org }}</span>
                </li>
            </ul>

            {# Organizations Managing #}
            {% if child_orgs %}
                {% set corg_classes = [
                    'org-related-list-item',
                    'org-child-list-item'
                ]
                %}

                <ul id="org-children-list">
                    {% for corg in child_orgs %}
                        <li{{ corg.attributes.addClass(corg_classes) }}>{{ corg.content }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
<!-- </div> -->